.wrapper {
    /* background-image: linear-gradient(to left top,
            #da65a8,
            #cb6bb9,
            #b872c8,
            #a17ad4,
            #8681dc,
            #6c90ea,
            #4a9df3,
            #00aaf8,
            #00c1ff,
            #00d7ff,
            #00ecfc,
            #3dfff2); */
    background-image: url(./background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.box {
    background-color: #f4f9fa;
    border-radius: 1px 80px;
    outline: 2px solid #6918ac69;
    outline-width: 4px;
    padding-inline: 4rem;
    padding-block-end: 3rem;
    padding-block-start: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    height: 40rem;
    width: 20rem;
}

.title {
    color: #53443a;
    margin-bottom: 5rem;
}

.input {
    width: 100%;
}

.login-btn {
    align-self: flex-start;
    border-radius: 100%;
    background-color: rgb(236, 46, 46) !important;
}